pug/index.pug
include config/config

doctype html
html(lang='es')
    head
        include ./includes/head
    body
        main.main
            section#landing-section
                .cabecera__contenedor
                    .cabecera__contenedor__contenido
                       h1.cabecera__contenedor__contenido__h1 Joe Gillis 
                       h2.cabecera__contenedor__contenido__h2 Fotógrafo
                       h2.cabecera__contenedor__contenido__h3 Una mirada personal
                       a#boton.cabecera__contenedor__contenido__boton(href="#imagenes") Trabajos
                .cabecera__imagen
            section#imagenes
                .imagenes__header
                    h2.imagenes__header__h2 Trabajos
                .imagenes__contenedor
                    include ./includes/imagenes-item
        footer.footer
            include ./includes/footer
        script(src="js/script.js")

index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="La web de Joe Gillis, un profesional de la fotografía que aporta una mirada personal a todo momento, escenario y oportunidad">
    <title>Joe Gillis || Fotógrafo</title>
    <link rel="stylesheet" href="css/estilos.css">
  </head>
  <body>
    <main class="main">
      <section id="landing-section">
        <div class="cabecera__contenedor">
          <div class="cabecera__contenedor__contenido">
            <h1 class="cabecera__contenedor__contenido__h1">Joe Gillis </h1>
            <h2 class="cabecera__contenedor__contenido__h2">Fotógrafo</h2>
            <h2 class="cabecera__contenedor__contenido__h3">Una mirada personal</h2><a class="cabecera__contenedor__contenido__boton" id="boton" href="#imagenes">Trabajos</a>
          </div>
        </div>
        <div class="cabecera__imagen"></div>
      </section>
      <section id="imagenes">
        <div class="imagenes__header">
          <h2 class="imagenes__header__h2">Trabajos</h2>
        </div>
        <div class="imagenes__contenedor">
          <div class="imagenes__item">
            <div class="imagen_contenedor"><img src="https://source.unsplash.com/1600x900/?nature" alt="Imagen por Joe Gillis, Fotógrafo">
            </div>
            <div class="caption">
              <h3 class="caption__cabecera">Naturaleza</h3>
              <p class="caption__texto">Una imagen natural y paisajística</p>
            </div>
          </div>
          <div class="imagenes__item">
            <div class="imagen_contenedor"><img src="https://source.unsplash.com/1600x900/?city" alt="Imagen por Joe Gillis, Fotógrafo">
            </div>
            <div class="caption">
              <h3 class="caption__cabecera">Imagen urbana</h3>
              <p class="caption__texto">Sex and the City</p>
            </div>
          </div>
          <div class="imagenes__item">
            <div class="imagen_contenedor"><img src="https://source.unsplash.com/1600x900/?people" alt="Imagen por Joe Gillis, Fotógrafo">
            </div>
            <div class="caption">
              <h3 class="caption__cabecera">Gente del mundo</h3>
              <p class="caption__texto">All around the world</p>
            </div>
          </div>
          <div class="imagenes__item">
            <div class="imagen_contenedor"><img src="https://source.unsplash.com/1600x900/?architecture" alt="Imagen por Joe Gillis, Fotógrafo">
            </div>
            <div class="caption">
              <h3 class="caption__cabecera">Arquitectura</h3>
              <p class="caption__texto">La simple belleza de las líneas arquitéctónicas</p>
            </div>
          </div>
          <div class="imagenes__item">
            <div class="imagen_contenedor"><img src="https://source.unsplash.com/1600x900/?wedding" alt="Imagen por Joe Gillis, Fotógrafo">
            </div>
            <div class="caption">
              <h3 class="caption__cabecera">Bodas y celebraciones</h3>
              <p class="caption__texto">Some weddings and no funeral</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"><h3 class="footer__cabecera">Contacto</h3>
<p class="footer__texto">Un correo o una llamada para ponernos en contacto:</p>
<p class="footer__correo"><strong>contacto@joe-gillis.com</strong></p>
<p class="footer__telefono"><strong>+34 666 666 666</strong></p>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
